@model HomeViewModel


@await Html.PartialAsync("Carousel")

<h2>This week's special offers</h2>
<h4>Delicious homemade bread just for you!</h4>

<div class="row">

    @foreach (var bread in Model.BreadsOfTheWeek)
    {
        @Html.Partial("BreadOfTheWeekSummary", bread)
    }

</div>