@model BreadListViewModel


    <h1>@Model.CurrentCategory</h1>
    @foreach (var bread in Model.Breads)
    {
        <div>
            <h2>@bread.Name</h2>
            <h3>@bread.Price.ToString("c")</h3>
            <h4>@bread.Category.CategoryName</h4>
        </div>
    }